@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  body {
    @apply bg-[#fafafa] text-black transition-colors duration-300 font-poppins;
  }

  .dark {
    @apply bg-[#0f172a] text-white;
  }
}

:root {
  --primary-bg: #fafafa;
  --primary-text: #000000;
  --secondary-bg: #0f172a;
  --secondary-text: #ffffff;
  --highlight-bg: #88a4ff;
}

.dark {
  --primary-bg: #0f172a;
  --primary-text: #ffffff;
  --highlight-bg: #4f46e5;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    transition: width 0.2s ease;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f1f1f1;
  }

  .dark .scrollbar::-webkit-scrollbar-track {
    background: #1e293b;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--highlight-bg);
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
    transition: background-color 0.3s ease;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border: 3px solid #374151;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #5d83ff;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4338ca;
  }
} 
